@font-face {
    font-family: 'Kameron Regular';
    src: url('Kameron-Bold/kameron/Kameron-Regular.ttf') format('truetype');
    /* Puoi specificare altri formati del font se disponibili */
}
body {
    margin: 0;
    font-family: 'Kameron Regular', serif;

}

#contenitore_pagina {
    scrollbar-width: none;
    background-color: white;
    position: relative; /* Posizione relativa per allineare il piè di pagina */
}
#int_left {
    color: grey;
    position: relative;
}

#int_right {
    position: absolute;
    top: 0;
    right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    z-index: 1000;
}

#intestazione_nascosta {
    background-color: rgba(255, 255, 255, 1); /* Opacità per oscurare il resto della pagina */
    position: fixed;
    transition: top 0.5s ease;
    top: -100px;
    z-index: 1000;
}

.header #mid {
    color: blue;
}

.header #mid a {
    color: #4f9eff;
}

.hidden {
    display: flex;
}

.button-like {
    text-decoration: none;
    cursor: pointer;
    color: black; /* Colore del testo */
    border: none;
    background: none;
    padding: 0; /* Rimuove lo spazio intorno al testo */
    display: inline; /* Mostra come elemento "inline" */
    white-space: nowrap; /* Evita che il testo vada a capo */
}

/* Stile delle celle della griglia */
.grid-item {
    background-color: rgba(255, 255, 255, 1);
    border: 0 solid #ccc;
    text-align: left;
}

/* Stile del contenitore della griglia */
.grid-titolo {
    display: grid;
    position: relative;
}

/* Stile delle celle della griglia del titolo */
.grid-item-titolo {
    text-align: center;
}

#titolo_txt a {
    color: #4f9eff;
}

.grid-item-titolo:nth-child(1) {
    background-color: #f6f8fb;
}

.grid-item-titolo:nth-child(3) {
    background-color: #f6f8fb;
}

.grid-item-titolo:nth-child(2) {
    color: #4f9eff;
}

.grid_sottotitolo {
    display: grid;
    grid-template-rows: auto auto; /* Due righe di altezza automatica */
    grid-template-columns: repeat(5, 1fr);
    background-color: #f6f8fb;
    position: relative;
}

.riga1_grid_sottotitolo {
    display: flex; /* Usiamo flexbox per allineare gli elementi su una riga */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    align-items: center; /* Centra gli elementi verticalmente */
    border-bottom: 2px solid grey;
    grid-column: 1 / span 5; /* L'elemento occupa 4 colonne */
}

.grid_item_sottotitolo {
    text-align: center;
    border-right: 2px solid grey;
    font-weight: bold;
}

.grid_item_sottotitolo:last-child {
    border-right: none; /* Rimuove il bordo destro dall'ultimo elemento */
}

.grid_container_menu {
    display: none;
    border: 2px solid grey;
    grid-template-columns: repeat(2, 1fr);
}

.ricerca_citta {
    display: flex; /* Usiamo flexbox per allineare gli elementi su una riga */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    align-items: center; /* Centra gli elementi verticalmente */
    grid-column: 1 / span 4; /* L'elemento occupa 4 colonne */
}

.grid_container_city {
    display: none;
    border: 2px solid grey;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item-city {
    background-color: rgba(255, 255, 255, 1);
    border: 0 solid #ccc;
    text-align: left;
}

#ultimora {
    color: red;
    margin-top: 1%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#ultimora_left {
    float: left;
}

#ultimora_right {
    float: right;
}

#ultimora_left a {
    color: red;
}

#ultimora_right a {
    color: #ccc;
}

#ultimora_clear {
    clear: both;
}

.dot {
    display: inline-block;
    width: 1em; /* Dimensione della prima lettera */
    height: 1em; /* Stessa dimensione della larghezza */
    background-color: red;
    border-radius: 50%; /* Per rendere il pallino rotondo */
    margin-right: 0.5em; /* Spazio tra la parola e il pallino */
}


#articolo_1 {
    border-bottom: 1px solid #ccc;
    align-items: center; /* Centrare verticalmente gli elementi */
}

/* Stile per il div contenente il testo dell'articolo */
#testo_articolo1 {
    flex: 1; /* Far espandere questo div per occupare lo spazio rimanente */
}

#container_articoli {
    border-bottom: 1px solid #ccc;
    align-items: center; /* Centrare verticalmente gli elementi */
}


#articolo_2, #articolo_3, #articoli_right {
    margin: 3%;
}

#articolo_3 {
    padding: 0.5%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#articoli_right {
    padding: 0.5%;
}

#articolo_4 {
    border-bottom: 1px solid #ccc;
}

#container_articoli a:hover, #articolo_1 a:hover {
    color: grey;
}

/* Stile per il contenitore del slider */
.slider-container {
    position: relative;
    background-color: #639CF8;
    overflow: hidden; /* Nascondere il contenuto che sfora */
}

/* Stile per il wrapper delle immagini */
.slider-wrapper {
    display: flex; /* Utilizzare flexbox per allineare le immagini */
    transition: transform 0.5s ease; /* Animazione per lo scorrimento delle immagini */
}
.slide {
    flex: 0 0 50%; /* Impostare la larghezza di ciascuna immagine */
    padding: 0 3%; /* Spazio a sinistra e a destra */
}
/* Stile per le frecce */
.arrow {
    position: absolute; /* Posizionare assolutamente rispetto al contenitore */
    color: blue;
    top: 50%; /* Allineare al centro verticalmente */
    transform: translateY(-50%); /* Centrare verticalmente */
    padding: 1%; /* Spazio intorno alle frecce */
    cursor: pointer; /* Cambiare il cursore al passaggio */
    z-index: 1; /* Posizionare sopra le immagini */
}

/* Stile per la freccia sinistra */
.arrow-left {
    left: 0; /* Posizionare a sinistra */
}

/* Stile per la freccia destra */
.arrow-right {
    right: 0; /* Posizionare a destra */
}

#pubblicita_container {
    border-left: 1px solid #ccc;
}

#pubblicita {
    margin-left: 1%;
}

.slider-container, #pubblicita_container {
    display: inline-block;
    vertical-align: top; /* Allineamento verticale in alto */
    padding: 0 5%;
}

#menu_piepagina {
    background-color: #2558BF;
    color: white;
    position: absolute; /* Posizione assoluta rispetto al form */
    font-size: 1em;
    padding: 0 0; /* Padding per il contenuto */
}



#gridPie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2%;
    grid-template-rows: repeat(4, 1fr);
}

#foto_menu_pie, #testo_menu_pie, #contenitore_grid_pie_big_screen {
    display: inline-block;
    vertical-align: top; /* Allineamento verticale in alto */
}

#testo_menu_pie #logo_testo {
    color: #639CF8;
}

#piepagina {
    background-color: #024aa3;
    color: white;
    position: absolute; /* Posizione assoluta rispetto al form */
}

#piepagina a {
    color: white;
}

#piepagina a:hover {
    text-decoration: underline;
}

#piepagina p {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

#p_left {
    color: #639CF8;
}

@media (max-width: 480px) {
    #contenitore_pagina {
        max-width: 480px;
        margin-top: -20px;
        padding-bottom: 520px; /* Spazio per il piè di pagina */
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #int_left {
        font-size: 12px;
    }
    #int_right {
        font-size: 10px;
    }
    #int_left, #int_right{
        display: none;
    }
    #txt_for_little_screen {
        color: #639CF8;
    }
    #txt_for_little_screen, #titolo_giornale{
        margin: -1%;
    }
    #login_for_little_screen{
        width: 20px; /* Imposta la larghezza */
        height: 20px; /* Imposta l'altezza */
        margin-top: -20px;
        font-size: 15px; /* Imposta la dimensione del font */
        text-align: center;
        float: right;
        margin-right: 0;
    }

    #abbonati_for_little_screen{
        color: white;
        background-color: #639CF8;
        border: 2px solid #639CF8;
        float: right;
        margin-top:0;
        margin-right: 0;
        border-radius: 10px;
    }
    #titolo_giornale, #abbonati_for_little_screen{
        display: inline-block;
    }

    .grid-titolo {
        height: 45px;
        background-color: #015ac7;
    }
    .grid-item-titolo {
        padding: 0;
        text-align: left;
    }
    #titolo_txt a {
        color: white;
    }
    .grid-item-titolo:nth-child(2) {
        margin-top: 0;
        color: white;
        font-size: 10px;
    }
    #intestazione_nascosta {
        background-color:#015ac7; /* Opacità per oscurare il resto della pagina */
        position: fixed;
        width: 100%;
        height: 50px; /* Altezza fissa per oscurare il resto della pagina */
        z-index: 1000;
    }
    #research_but_header{
        display:none;
    }
    .header {
        border-bottom: 0;
        padding:15px;
    }
    .header #mid {
        position: absolute;
        top: -10px;
        left: 3px;
    }
    .header #mid a {
        color: white;
        font-size: 25px;
    }

    .button-like {
        font-size: 20px;
        position: absolute;
        top: 13px;
        right: 30px;
        color: white; /* Colore del testo */
        display: inline; /* Mostra come elemento "inline" */
        white-space: nowrap; /* Evita che il testo vada a capo */
    }
    .header #right {
        display:none;
    }
    .grid-container {
        width: 100%;
        display: none;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-top: 85px; /* Altezza dell'intestazione nascosta + margine inferiore */
        margin-left: 0px; /* Allineamento con il margine sinistro di intestazione_nascosta */
        border-right: 2px solid #ccc; /* Bordo sinistro */
        border-bottom: 2px solid #ccc;
        background-color: rgba(255, 255, 255, 1); /* Opacità per oscurare il resto della pagina */
        z-index: 999; /* Assicura che la griglia sia sopra il contenuto della pagina */
        position: fixed;
    }
    .grid-titolo {
        grid-gap:10px;
        margin-top: 20px;
    }
    .grid-titolo {
        padding: 20px;
    }
    .grid-item-titolo:nth-child(1) {
        display:none;
    }

    .grid-item-titolo:nth-child(3) {
        display:none;
    }
    .riga1_grid_sottotitolo {
        display:none;
    }
    .grid_item_sottotitolo{
        font-size:11px;
    }
    #dot_sottotitolo {
        width: 0.5em; /* Dimensione della prima lettera */
        height: 0.5em; /* Stessa dimensione della larghezza */
    }
    .ricerca_citta{
        grid-column: 1 / span 1; /* L'elemento occupa 4 colonne */
    }
    .search-box{
        padding: 10px;
        width: 300px;
    }
    .grid_container_city {
        grid-template-columns: repeat(1, 1fr);
        border: 2px solid grey;
    }
    .grid-item-city {
        padding:20px;
        border-bottom:1px solid grey;
    }
    .grid-item{
        background-color: rgba(255, 255, 255, 1);
        padding: 20px;
        border: 0 solid #ccc;
        text-align: left;
        border-bottom:1px solid grey;
    }
    .grid_container_menu {
        grid-template-columns: repeat(1, 1fr);
        display: none;
        border: 2px solid grey;
    }
    #articolo_1{
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #img_articolo1{
        order: -1;
    }
    #img {
        height: 300px;
        width: 400px;
    }
    #container_articoli{
        margin-top:5px;
        margin-bottom:5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #articolo_2{
        padding: 5px;
    }
    #articoli_right{
        padding:5px;
    }
    #articolo_3 {
        padding: 5px;
        border-top: 1px solid #ccc;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid #ccc;
    }
    #pubblicita_container {
        display:none;
    }
    /* Stile per il contenitore del slider */
    .slider-container {
        margin-top: 5px;
        width: 70%; /* Larghezza del contenitore */
        margin-left: 7%;
        height: 250px;
    }
    .slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 100% 0 0;
    }
    #menu_piepagina {
        height: 450px;
        background-color: #2558BF;
        color: white;
        position: absolute; /* Posizione assoluta rispetto al form */
        left: 0;
        font-size: 10px;
        bottom:55px;
        width: 100vw; /* Larghezza dell'intera finestra */
    }
    #piepagina {
        background-color: #024aa3;
        color: white;
        position: absolute; /* Posizione assoluta rispetto al form */
        left: 0;
        font-size: 12px;
        bottom: 0; /* Altezza del piè di pagina */
        width: 100vw; /* Larghezza dell'intera finestra */
        display: flex;
        flex-direction: column; /* Imposta la direzione dei flex items come colonna */
    }
    #p_left{
        margin-left: 0;
    }
    #p_right{
        margin-right: 5px;
    }
    #contenitore_grid_pie_big_screen{
        display:none;
    }
    .grid_menu_pie{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2%;
        margin-top: 13%; /* Altezza dell'intestazione nascosta + margine inferiore */
        margin-left: 0; /* Allineamento con il margine sinistro di intestazione_nascosta */
        background-color: rgba(0, 0, 255, 1); /* Opacità per oscurare il resto della pagina */
        z-index: 999; /* Assicura che la griglia sia sopra il contenuto della pagina */
        position: fixed;
    }
    .grid_item_pie_titolo{
        font-size: 2em;
        border-bottom: 2px solid #ccc;
    }
    #categorie, #abbonamenti, #pubblicita_pie{
        display: none;
    }
    .grid_item_pie_link a{
        font-size:1.5em;
        color:white;
    }
    .grid_item_pie_link a:hover{
        text-decoration: underline;
    }

    #foto_menu_pie, #testo_menu_pie {
        display: block;
    }
}
@media (min-width: 1050px) {
    body {
        background-color: white;
    }
    .grid-item:nth-child(1), .grid-item-city:nth-child(1) {
        display: none;
    }
    #contenitore_pagina{
        padding-top: 1%;
        max-width: 80%;
        padding-bottom: 40%; /* Spazio per il piè di pagina */
        margin: 0 auto; /* Centra il form nella pagina */
    }
    #int_left, #int_right{
        font-size:1em;
    }
    .header {
        padding: 1.5%;
    }
    #intestazione_nascosta {
        width: 100%;
        height: 5%;
    }
    .header #mid {
        font-size: 1em;
    }
    .header #right {
        margin-right: 7%;
    }
    #txt_for_little_screen{
        display:none;
    }
    #login_for_little_screen{
        display: none;
    }
    #abbonati_for_little_screen{
        display: none;
    }
    .header #left {
        margin-left: 2%;
    }
    .grid-container {
        display: none;
        grid-template-columns: repeat(2, 1fr);
        height: 20%;
        width: 30%;
        grid-gap: 20%;
        margin-top: 5.8%; /* Altezza dell'intestazione nascosta */
        margin-left: 0; /* Allineamento con il margine sinistro di intestazione_nascosta */
        margin-right: 9%; /* Allineamento con il margine destro di intestazione_nascosta */
        border-right: 2px solid #ccc; /* Bordo sinistro */
        border-bottom: 2px solid #ccc;
        background-color: rgba(255, 255, 255, 1); /* Opacità per oscurare il resto della pagina */
        z-index: 999; /* Assicura che la griglia sia sopra il contenuto della pagina */
        position: fixed;
    }
    .grid-item {
        padding: 3%;
    }
    .grid-titolo {
        grid-template-columns: 20% 58% 20%;/* Spazio tra la griglia del titolo e il testo */
        grid-template-rows: 65%;
        grid-gap:1%;
        margin-top: 2%;
    }
    .grid-item-titolo {
        padding: 2%;
    }
    .grid-item-titolo:nth-child(2) {
        margin-top: -12%;
        font-size: 2em;
    }
    .grid_sottotitolo {
        margin-top: 1%;
        grid-gap: 0.1%;
    }
    #dot_sottotitolo {
        width: 0.7em; /* Dimensione della prima lettera */
        height: 0.7em; /* Stessa dimensione della larghezza */
    }
    .grid-item-titolo {
        padding: 0.5%;
        font-size: 1em;
    }
    .search-box {
        padding: 1%;
        border-radius: 0.5%;
        width: 30%;
        max-width: 100%;
    }

    .grid-item-city {
        padding: 2%;
    }

    #menu_piepagina {
        bottom: -3%; /* Altezza del piè di pagina */
        height: 20%;
        margin-top: 2%;
        left: -14%;
        width: 126.5%;
    }
    #piepagina {
        left: -23.5%;
    }
    #articolo_1{
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: flex;
    }
    #container_articoli{
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: flex; /* Utilizzare flexbox */
    }
    #testo_articolo1, #img_articolo1 {
        display: inline-block;
        vertical-align: top; /* Allineamento verticale in alto */
    }

    .slider-container {
        width: 44%;
        height: 20%;
        margin-top: 0.5%;
    }

    #pubblicita_container {
        width: 35%; /* Larghezza del contenitore */
        height: 20%;
        margin-top: 0.5%;
        margin-left: 0.5%;
    }

    #contenitore_grid_pie_small_screen{
        display:none;
    }
    #contenitore_grid_pie_big_screen {
        width: 30%;
        font-size: 1em;
        margin-top: 1.6%;
        margin-left: 2.5%; /* Centra il contenitore orizzontalmente sulla pagina */
    }

    #contenitore_grid_pie_big_screen a {
        color: white;
    }

    #contenitore_grid_pie_big_screen a:hover {
        text-decoration: underline;
    }

    #piepagina {
        left: -15%;
        font-size: 0.8em;
        bottom: -3%; /* Altezza del piè di pagina */
        width: 127.5%; /* Larghezza dell'intera finestra */
        padding: 0 0; /* Padding per il contenuto */
    }
    #p_left {
        margin-left: 10%;
        float: left;
    }

    #p_right {
        margin-right: 5%;
        float: right;
    }
    #p_left, #p_right {
        display: inline-block;
    }
}
@media screen and (min-width: 481px) and (max-width: 1049px) {
    #contenitore_pagina {
        max-width: 100%;
        margin-top: -2%;
        padding-bottom: 80%; /* Spazio per il piè di pagina */
        position: relative;
        overflow-x: hidden;
    }
    #int_left {
        font-size: 1em;
    }
    #int_right {
        font-size: 1em;
    }
    #int_left, #int_right{
        display: none;
    }
    #txt_for_little_screen {
        font-size: 1em;
        color: #639CF8;
    }
    #txt_for_little_screen, #titolo_giornale{
        margin: -1%;
    }
    #login_for_little_screen{
        margin-top: -2%;
        font-size: 1em; /* Imposta la dimensione del font */
        text-align: center;
        float: right;
        margin-right: 0;
    }

    #abbonati_for_little_screen{
        color: white;
        background-color: #639CF8;
        border: 2px solid #639CF8;
        float: right;
        margin-top:1%;
        margin-right: 0;
        border-radius: 10px;
    }
    #titolo_giornale, #abbonati_for_little_screen{
        display: inline-block;
    }
    .grid-titolo {
        height: 2%;
        background-color: #015ac7;
    }
    .grid-item-titolo {
        padding: 1%;
        text-align: left;
    }
    #titolo_txt a {
        color: white;
    }
    .grid-item-titolo:nth-child(2) {
        color: white;
        font-size: 1em;
    }
    #intestazione_nascosta {
        background-color: #015ac7; /* Opacità per oscurare il resto della pagina */
        position: fixed;
        width: 100%;
        height:8%; /* Altezza fissa per oscurare il resto della pagina */
        z-index: 1000;
    }
    #research_but_header{
        display:none;
    }
    .header {
        border-bottom: 0;
        padding:1.5%;
    }
    .header #mid {
        position: absolute;
        top: -1%;
        left: 0.3%;
    }
    .header #mid a {
        color: white;
        font-size: 1em;
    }

    .button-like {
        font-size: 2em;
        position: absolute;
        top: 1.3%;
        right: 3%;
        color: white; /* Colore del testo */
        display: inline; /* Mostra come elemento "inline" */
        white-space: nowrap; /* Evita che il testo vada a capo */
    }
    .header #right {
        display:none;
    }
    .grid-container {
        width: 100%;
        display: none;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.5%;
        margin-top: 15%; /* Altezza dell'intestazione nascosta + margine inferiore */
        margin-left: 0; /* Allineamento con il margine sinistro di intestazione_nascosta */
        border-right: 2px solid #ccc; /* Bordo sinistro */
        border-bottom: 2px solid #ccc;
        background-color: rgba(255, 255, 255, 1); /* Opacità per oscurare il resto della pagina */
        z-index: 999; /* Assicura che la griglia sia sopra il contenuto della pagina */
        position: fixed;
    }
    .grid-titolo {
        grid-gap:1%;
        margin-top: 2%;
    }
    .grid-titolo {
        padding: 2%;
    }
    .grid-item-titolo:nth-child(1) {
        display:none;
    }

    .grid-item-titolo:nth-child(3) {
        display:none;
    }
    .riga1_grid_sottotitolo {
        display:none;
    }
    .grid_item_sottotitolo{
        padding-top:2%;
        font-size:0.9em;
    }
    #dot_sottotitolo {
        width: 0.5em; /* Dimensione della prima lettera */
        height: 0.5em; /* Stessa dimensione della larghezza */
    }
    .ricerca_citta{
        background-color: rgba(255, 255, 255, 1);
        grid-column: 1 / span 1; /* L'elemento occupa 4 colonne */
    }
    .search-box{
        padding: 1%;
        width: 30%;
    }
    .grid_container_city {
        z-index: 999;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        border: 2px solid grey;
        position: relative;
    }
    .grid-item-city {
        background-color: rgba(255, 255, 255, 1);
        padding:2%;
        border-bottom:1px solid grey;
    }
    .grid-item{
        background-color: rgba(255, 255, 255, 1);
        padding: 2%;
        border: 0 solid #ccc;
        text-align: left;
        border-bottom:1px solid grey;
    }
    .grid_container_menu {
        z-index: 1000;
        grid-template-columns: repeat(1, 1fr);
        display: none;
        border: 2px solid grey;
    }
    #articolo_1{
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #img_articolo1{
        order: -1;
    }
    #img {
        height: 350px;
        width: 500px;
    }
    #container_articoli{
        margin-top:0.5%;
        margin-bottom:0.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #articolo_2{
        padding: 0.5%;
    }
    #articoli_right{
        padding:0.5%;
    }
    #articolo_3 {
        padding: 0.5%;
        border-top: 1px solid #ccc;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #ccc;
    }
    #pubblicita_container {
        display:none;
    }
    .slider-container {
        position: relative;
        background-color: #639CF8;
        width: 75%; /* Larghezza del contenitore */
        height: 20%;
        margin-top: 0.5%;
        margin-left: 7%;
        overflow: hidden; /* Nascondere il contenuto che sfora */
        padding: 0 5%;
    }
    #menu_piepagina {
        margin-top: 10%;
        height: 20%;
        background-color: #2558BF;
        color: white;
        position: absolute; /* Posizione assoluta rispetto al form */
        left: 0;
        font-size: 0.7em;
        bottom:-5%;
        width: 100%; /* Larghezza dell'intera finestra */
    }
    #piepagina {
        height: 2%;
        background-color: #024aa3;
        color: white;
        position: absolute; /* Posizione assoluta rispetto al form */
        left: 0;
        font-size: 0.7em;
        display: flex;
        flex-direction: column; /* Imposta la direzione dei flex items come colonna */
        bottom: -5%; /* Altezza del piè di pagina */
        width: 100%; /* Larghezza dell'intera finestra */
    }
    #contenitore_grid_pie_big_screen{
        display:none;
    }
    #p_right, #p_left {
        margin-bottom: 0;
    }
    .grid_menu_pie{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2%;
        margin-top: 13%; /* Altezza dell'intestazione nascosta + margine inferiore */
        margin-left: 0; /* Allineamento con il margine sinistro di intestazione_nascosta */
        background-color: rgba(0, 0, 255, 1); /* Opacità per oscurare il resto della pagina */
        z-index: 999; /* Assicura che la griglia sia sopra il contenuto della pagina */
        position: fixed;
    }
    .grid_item_pie_titolo{
        font-size: 2em;
        border-bottom: 2px solid #ccc;
    }
    #categorie, #abbonamenti, #pubblicita_pie{
        display: none;
    }
    .grid_item_pie_link a{
        font-size:1.5em;
        color:white;
    }
    .grid_item_pie_link a:hover{
        text-decoration: underline;
    }

    #foto_menu_pie, #testo_menu_pie {
        display: block;
    }
}
